<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_demo1:war exploded">
    <output-path>$PROJECT_DIR$/spring_demo1/target/spring_demo1</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring_demo1</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_demo1" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: junit:junit:4.12" />
          <element id="library" level="project" name="Maven: org.hamcrest:hamcrest-core:1.3" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.6" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter:5.7.0-M1" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-api:5.7.0-M1" />
          <element id="library" level="project" name="Maven: org.apiguardian:apiguardian-api:1.1.0" />
          <element id="library" level="project" name="Maven: org.opentest4j:opentest4j:1.2.0" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-commons:1.7.0-M1" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-params:5.7.0-M1" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-engine:5.7.0-M1" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-engine:1.7.0-M1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-test:5.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: com.mchange:c3p0:0.9.5.2" />
          <element id="library" level="project" name="Maven: com.mchange:mchange-commons-java:0.2.11" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.8.13" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.1.5.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring_demo1/target/spring_demo1/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring_demo1/web/Web" />
    </root>
  </artifact>
</component>